/* Base Variables */
:root {
    --base-bgcolor: #354152;
    --base-color: #000000;
    --base-font-weight: 300;
    --base-font-size: 1rem;
    --base-line-height: 1.5;
    --base-font-family: Helvetica Neue, sans-serif;
    --input-placeholder-color: #7e8ba3;
    --grid-max-width: 25rem;
    --grid-width: 100%;
    --link-color: #7e8ba3;
}

/* Global Styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../img/loginBackground.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--base-color);
    font: var(--base-font-weight) var(--base-font-size) / var(--base-line-height) var(--base-font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

.align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 400px;
}

.register {
    box-shadow: 0 0 250px #000;
    text-align: center;
    padding: 2rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    position: relative; /* Make positioning relative */
}

.top-message {
    margin-top: -6rem; /* Adjust as needed */
    margin-bottom: -1rem;
    font-size: 1rem;
    color: var(--link-color);
}

input {
    border: 0;
    font: inherit;
    border-radius: 999px;
    outline: 0;
    padding: .5rem 1rem;
    width: 100%;
}

input::placeholder {
    color: var(--input-placeholder-color);
}

.form__field {
    margin-bottom: 1rem;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
    border: 1px solid #242c37;
    background-color: transparent;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
}

input[type="email"] {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23242c37%22%3E%3Cpath%20d%3D%22M256.017%20273.436l-205.17-170.029h410.904l-205.734%20170.029zm-.034%2055.462l-205.983-170.654v250.349h412v-249.94l-206.017%20170.245z%22%2F%3E%3C%2Fsvg%3E');
}

input[type="password"] {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20fill%3D%22%23242c37%22%3E%3Cpath%20d%3D%22M195.334%20223.333h-50v-62.666c0-61.022%2049.645-110.667%20110.666-110.667%2061.022%200%20110.667%2049.645%20110.667%20110.667v62.666h-50v-62.666c0-33.452-27.215-60.667-60.667-60.667-33.451%200-60.666%2027.215-60.666%2060.667v62.666zm208.666%2030v208.667h-296v-208.667h296zm-121%2087.667c0-14.912-12.088-27-27-27s-27%2012.088-27%2027c0%207.811%203.317%2014.844%208.619%2019.773%204.385%204.075%206.881%209.8%206.881%2015.785v22.942h23v-22.941c0-5.989%202.494-11.708%206.881-15.785%205.302-4.93%208.619-11.963%208.619-19.774z%22%2F%3E%3C%2Fsvg%3E');
}

input[type="tel"] { 
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.5%204.5a3%203%200%200%201%203-3h1.372c.86%200%201.61.586%201.819%201.42l1.105%204.423a1.875%201.875%200%200%201-.694%201.955l-1.293.97c-.135.101-.164.249-.126.352a11.285%2011.285%200%200%200%206.697%206.697c.103.038.25.009.352-.126l.97-1.293a1.875%201.875%200%200%201%201.955-.694l4.423%201.105c.834.209%201.42.959%201.42%201.82V19.5a3%203%200%200%201-3%203h-2.25C8.552%2022.5%201.5%2015.448%201.5%206.75V4.5Z%22%20clip-rule%3D%22evenodd%22%20%2F%3E%3C%2Fsvg%3E') !important;
}

input[type="text"] { 
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20class%3D%22size-6%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M7.5%206a4.5%204.5%200%201%201%209%200%204.5%204.5%200%200%201-9%200%20ZM3.751%2020.105a8.25%208.25%200%200%201%2016.498%200%20.%2075.75%200%200%2001-.437.695A18.683%2018.683%200%200%201%2012%2022.5c-2.786%200-5.433-.608-7.812-1.7a.75.75%200%200%201-.437-.695Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}

input[type="submit"] {
    background-image: linear-gradient(160deg, #378f7b 0%, #378f7b 100%);
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 6rem;
    font-weight: 500;
    border: none;
    padding: .5rem 1rem;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
input[type="submit"]:hover {
    background: linear-gradient(160deg, #45a049 0%, #45a049 100%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 1rem;
}

svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: var(--link-color);
}

.site__logo {
    width: 100%;
    max-width: 689px;
    height: auto;
    max-height: 362px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
