/* General Styles */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('/img/falconBackground.gif') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-bottom: 2px solid #40ac0e;
    position: relative;
    z-index: 9999;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#logo-and-nav {
    display: flex;
    align-items: center;
}

#header img {
    height: 60px;
    width: auto;
    max-width: 170px;
    max-height: 150px;
    object-fit: contain;
    margin-right: 20px; /* Space between the logo and navigation */
}

#nav-buttons {
    display: flex;
    align-items: center;
}

#nav-buttons a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold; /* Make text bold */
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    color: #2b966f; 
}

#nav-buttons a:hover {
    color: #2fb63a;
    text-decoration: underline;
}

.active-link {
    font-weight: bold !important;
}

#user-info {
    display: flex;
    align-items: center;
}

#language-selector {
    margin-right: 20px;
    padding: 8px 12px;
    border: 1px solid #2b966f;
    border-radius: 5px;
    background-color: #2b966f; /* Custom button background color */
    color: white; /* Text color */
    font-weight: bold; /* Make text bold */
    cursor: pointer;
    appearance: none; /* Remove default select styling */
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#language-selector:hover {
    background-color: #2fb63a; /* Change background color on hover */
    color: white; /* Ensure text remains visible on hover */
}

#welcome-message {
    font-size: 16px;
    color: #333;
    font-weight: bold; /* Make text bold */
}
